/* Header color 2D3945 */
@import url("https://fonts.googleapis.com/css?family=Merriweather");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Merriweather", "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.7);
}
h1 {
  background-color: #2d3945;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 1.5em;
  font-weight: normal;
}
.container {
  width: 90%;
  margin: auto;
}
header {
  text-align: center;
  padding: 20px 10px 40px 10px;
  border-bottom: solid 4px #2d3945;
  background-color: rgba(0, 0, 0, 0.05);
}
h2 {
  font-size: 1.3em;
  margin-bottom: 10px;
}
#contact {
  border-bottom: solid 2px #2d3945;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
#contact .contact-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
#newsletter {
  margin-top: 20px;
}
fieldset {
  border: 0;
}
fieldset label {
  margin-top: 10px;
}
legend {
  font-weight: bold;
  font-size: 1.5em;
}
#signup-form {
  border-top: solid 2px #2d3945;
  margin-top: 2px;
  padding: 20px 0;
}
#contact input,
select,
#newsletter textarea {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  background-color: #eff0f1;
  border-radius: 2px;
  border: none;
  font-family: "Merriweather", "Times New Roman", Times, serif;
}
input::placeholder {
  text-align: right;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  padding-right: 5px;
}
#contact #zip {
  width: 50%;
}
#newsletter {
  display: flex;
  flex-direction: column;
}
#newsletter label {
  line-height: 1.5em;
  margin-bottom: 10px;
}
#newsletter label:not(:first-child) {
  margin-top: 10px;
}
#newsletter textarea {
  padding: 5px;
}
.newsletter-option {
  margin-top: 10px;
}
.newsletter-option label {
  margin-left: 5px;
}
#submit-btn {
  color: #fff;
  border-radius: 2px;
  width: 100%;
  padding: 10px 0;
  background-color: #4ebbb5;
  border: 0;
  margin-top: 20px;
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-size: 1.15em;
}
footer {
  margin-top: 25px;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}
#contact .contact-info input:focus,
#contact .contact-info select:focus,
#newsletter textarea:focus {
  outline: transparent;
  color: white;
  background-color: #2d3945;
  transition: all 0.5s;
}
input:focus::-webkit-input-placeholder {
  color: red;
}
input:focus:-moz-placeholder {
  color: red;
}
input:focus::-moz-placeholder {
  color: red;
}
input:focus:-ms-input-placeholder {
  color: red;
}

@media (min-width: 768px) {
  .container {
    width: 45%;
    max-width: 1000px;
  }
  #contact .contact-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
